$Font-Inter-Bold: Inter-Bold;
$Font-Inter-Medium: Inter-Medium;
$Font-Inter-Regular: Inter-Regular;


@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.otf');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.otf');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.otf');
}